  
#jumbotron {
  background-image: url(img/chris-brignola-X2CxUXFqKcM-unsplash\ 1.png);
  background-position: right;
  background-repeat: no-repeat;
  margin-top: -260px;

  @font-face {
    font-family: fontbutler;
    src: url ('Butler_ExtraBold.otf');
  }
  h1 {
    font-family: fontbutler;
  }
}

#jumbotron .tim {
  margin-top: 250px;
}

#jumbotron .awalan {
  margin-top: 350px;
}
#jumbotron .tombol .btn {
  margin-top: 50px;
}


.awalan .display-4 {
  color:#033F89;
}
.awalan .display-4 span {
  color: #FF870B;
  
}
/* Akhir Jumbotron */

#tentangkami {
  margin-top: 20px;
  @font-face {
    font-family: fontbutler;
    src: url ('Butler_ExtraBold.otf');
  }
  h2 {
    font-family: fontbutler;
  }
}
.siapa-kami {
  color: #033F89;
}

#layanan {
  background-image: url(img/legal-background\ 1.png);
  background-size: cover;
  margin-top: 20px;

  @font-face {
    font-family: fontbutler;
    src: url ('Butler_ExtraBold.otf');
  }
  h2 {
    font-family: fontbutler;
  }

}


.btn{
  margin-top: 50px;
  color: #fff;
}

.card-body .sosial {
  display: inline-block;
  width: 40px;
  height: 40px;
  color: #fff;
  border-radius: 50%;
  background-color: #033F89;
  line-height: 40px;
 
}

.carousel-inner .btn {
  background-color: #fff;
  color: #033F89;
}

.container .col {
  color: #033F89;
}

.footbar {
  background-color:#002A5F;
  ;
}

#kontak {
  color: #fff;
  background-color: #033F89;
  margin-top: 200px;
}
#kontak .ketkontak {
  margin-top: 50px;
}

#kontak .logo {
  margin-top: 50px;
}

#layananselengkapnya {
  background-image: url(img/legal-background\ 1.png);
  height: 375px;
  margin-top: 75px;
  color: #033F89;
  @font-face {
    font-family: fontbutler;
    src: url ('Butler_ExtraBold.otf');
  }
  h2 {
    font-family: fontbutler;
  }
}

#litigasi {
  margin-top: 20px;
}


#timkami {
  margin-top: 20px;
  @font-face {
    font-family: fontbutler;
    src: url ('Butler_ExtraBold.otf');
  }
  h2 {
    font-family: fontbutler;
  }
}
#timkami .col {
  color: black;
}

#timkami .tim button {
 margin-top: -8px;
}

#testimoni {
  background-image: url(img/Rectangle\ 1101.png);
  margin-top: 20px;
  @font-face {
    font-family: fontbutler;
    src: url ('Butler_ExtraBold.otf');
  }
  h3 {
    font-family: fontbutler;
  }
}
#testimoni .carousel-inner{
  margin-top: 50px;
}


#artikelkami {
  background-image: url(img/legal-background\ 1.png);
  height: 375px;
  margin-top: 75px;
  color: #033F89;
  @font-face {
    font-family: fontbutler;
    src: url ('Butler_ExtraBold.otf');
  }
  h2 {
    font-family: fontbutler;
  }
}
#artikel {
  margin-top: 50px;
  @font-face {
    font-family: fontbutler;
    src: url ('Butler_ExtraBold.otf');
  }
  h2 {
    font-family: fontbutler;
  }
}

#galeri {
  margin-top: 70px;
  @font-face {
    font-family: fontbutler;
    src: url ('Butler_ExtraBold.otf');
  }
  h2 {
    font-family: fontbutler;
  }
}

#carouselExampleControls {
  margin-top: 70px;
}

#konsultasi {
  @font-face {
    font-family: fontbutler;
    src: url ('Butler_ExtraBold.otf');
  }
  h2 {
    font-family: fontbutler;
  }
 
}
#konsultasi .card-subtitle {
  margin-top: 15px;
}
#konsultasi .row {
  margin-top: 30px;
}
#konsultasi .isi {
  margin-top: 35px;

}

#konsultasi .kirim {
  margin-top: 20px;
}

#artikelselengkapnya .berita {
  margin-top: 35px;
}
#artikelselengkapnya .foto {
  margin-top: 35px;
}

.jumbotronartikel {
  background-color:#FAFBFB;
  height: 267px;
  @font-face {
    font-family: fontbutler;
    src: url ('Butler_ExtraBold.otf');
  }
  h2 {
    font-family: fontbutler;
  }
}
.jumbotronartikel .berita {
 margin-top: 5px;
}
.jumbotronartikel .berita h1{
 color: #033F89;
}


